.form {
  margin: 0 auto;
  max-width: 385px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  border: 1px solid #838383;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #1878dc;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  padding: 20px 0 20px;
}

.form__button:hover {
  background-color: #3f96f3;
  transition-duration: 0.4s;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.form__input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

.form__label[for="terms"] {
  margin: 0 0 0 12px;
  vertical-align: middle;
}

.form__fieldset_terms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
