.page {
  max-width: 1440px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
}

.header {
  position: relative;
  height: 800px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 8px 0 0;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__column {
  position: relative;
  top: 184px;
}

.header__title {
  max-width: 729px;
  top: 183px;
}

.header__title_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
}

.header__description_text {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 65px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer_paragraphs {
  display: flex;
  flex-direction: row;
}

.header__footer_paragraph_hours {
}

.header__footer_paragraph_address {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.header__footer_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
