.page {
  min-width: 1440px;
  max-width: 1440px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  position: relative;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 8px 0 0;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__title {
  position: absolute;
  max-width: 729px;
  top: 183px;
}

.header__span-accent {
  display: block;
}

.header__description {
  position: relative;
  margin: auto;
  top: 28px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__body_image_image-file {
  position: relative;
  padding: none;
  top: 124px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer_paragraphs {
  display: flex;
}

.header__footer_paragraph_hours {
  position: relative;
}

.header__footer_paragraph_address {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.header__footer_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
